<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p>&copy; <span id="current-year"></span> <a href="https://blog.ni18.in/"
                class="text-white text-decoration-none">ni18</a></p>
        <div class="social-links">
            <a href="https://www.linkedin.com/company/ni18" aria-label="linkedin ni18 social media link"
                class="text-white mx-2 text-decoration-none"><i class="ri-linkedin-fill"></i></a>
            <a href="https://x.com/ni18_in" aria-label="twitter ni18 social media link"
                class="text-white mx-2 text-decoration-none"><i class="ri-twitter-fill"></i></a>
            <a href="https://github.com/ni18-in" aria-label="github ni18 social media link"
                class="text-white mx-2 text-decoration-none"><i class="ri-github-fill"></i></a>
            <a href="https://www.facebook.com/ni18.in" aria-label="facebook ni18 social media link"
                class="text-white mx-2 text-decoration-none"><i class="ri-facebook-fill"></i></a>
            <a href="https://www.instagram.com/ni18.in/" aria-label="instagram ni18 social media link"
                class="text-white mx-2 text-decoration-none"><i class="ri-instagram-fill"></i></a>
            <a href="https://www.youtube.com/@ni18_in" aria-label="youtube ni18 social media link"
                class="text-white mx-2 text-decoration-none"><i class="ri-youtube-fill"></i></a>
        </div>
    </div>
</footer>