<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(0,0,0,0.7);">
    <div class="container">
        <a class="navbar-brand" href="/ni18/">NI18</a>
        <button class="navbar-toggler" type="button" aria-label="Menu" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/ni18/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/ni18/#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/ni18/blogs.html">Blogs</a></li>
                <li class="nav-item"><a class="nav-link" href="/ni18/about.html">About</a></li> <!-- Fixed link to point to actual file -->
                <li class="nav-item"><a class="nav-link" href="/ni18/contact.html">Contact</a></li> <!-- Updated to local contact page -->
                <li class="nav-item"><a class="nav-link" href="/ni18/C-DAC-Center-Finder.html">C-DAC Center Finder</a></li>
                <li class="nav-item"><a class="nav-link" href="/ni18/simple-javascript-compiler">Simple JavaScript Compiler</a></li>
            </ul>
        </div>
    </div>
</nav>
